<div class="container">
  <div class="user-details">
    <h3> About Us </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Meet the team</h4>
      <a href="team.html">

      <img alt="mountains" src="{{ "/assets/img/team.png" | prepend: site.baseurl }}"/></a>
      <p>We're a team of makers, thinkers, explorers, creators and developers.

         We're serious about delivering great outcomes.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <a target="_blank" href="https://github.com/{{site.github_username}}">
      <img alt="coding" class="img-responsive" src="{{ "/assets/img/coding.png" | prepend: site.baseurl }}"/></a>
      <p>We are strong supporters of the open source community. All code and design files
         are available for use on Github.</p>
    </div>
    <div class="four columns">
      <h4>Blog</h4>
      <a href="//blog.openvayu.org/">
      <img alt="blogging" class="img-responsive" src="{{ "/assets/img/blogging.png" | prepend: site.baseurl }}"/></a>
      <p>We maintain a very active development blog. Regular updates about every development
         are posted.</p>
    </div>
  </div>
</div>
