<div class="container">
  <div class="user-details">
    <h3> Featured Posts </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="logo" src="{{ "/assets/img/logoopenvayu.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Introduction to OpenVayu </h5>
      <h6><i> Free the skies of its shackles for it prefers to fly</i></h6>
      <p>OpenVayu is an initiative to bring together people from all across the board with a singular passion for making a change. We aim to research air quality and climate change and analyze how it affects our lifestyle and our planet, at large. Our vision is to mobilize thinkers and doers and to empower them for the betterment of our world.</p>
      <a class="project-link" href="//blog.openvayu.org/introduction-to-openvayu/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="sensor" src="{{ "/assets/img/sensor.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Influence of Temperature and Humidity on the output resistance ratio of the MQ-135 sensor</h5>
      <h6><i> Mrs Vandana Kalra, Mr Chaitanya Baweja</i></h6>
      <p>Limited usage of MQ135 in the past years is attributed to a very poor quality datasheet which caused many researchers to conclude the sensitivity characteristic graph to be a power function. Further power regression is used to find appropriate scaling and exponential factors.</p>
      <a class="project-link" href="//blog.openvayu.org/mq135/">Check it out</a>
    </div>
  </div>
</div>
